#firsttitle2{
    color: #4EFFEF;
    text-align:center;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size:50px;
}
#titles2{
    text-align:center;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: #AE79C9;
    font-size:40px;
}
