.body{
    background-color:#5C5C5C;
}
input {
    width: 100%;
    height: auto;
}
img{
    width: 85%;
    height: auto;
    text-align: center;
    border: 8px #FFC857 solid;
    margin: 5%;
}
#firsttitle{
    color: #FFC857;
    text-align:center;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size:50px;
}
#titles{
    text-align:center;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: #AE79C9;
    font-size:40px;
}
hr.style{    
    border-top: 5px solid  white;
    width:70%;
}
#pgh{
    color: white;
    text-align:justify;
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    
}
.previous {
    background-color: #5C5C5C;
    color: white;
    margin-left:13%; 
    font-family: 'Oswald', sans-serif;
    font-size:40px;
}

.round {
    border-radius: 100%;
}